* {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    border-right: black 2px solid;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 12%;
    height: 30rem;
    border-radius: 10px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    height: 100%;
}

.menu-btns {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 100%;
    width: 100%;
    align-items: center;
}

.blank-menu {
    display: flex;
    flex: 1;
    background-color: #C1839F;
}

.weight-menu {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 10px 0px 0px 10px;
    border-left: black 2px solid;
    border-bottom: black 2px solid;
    background-color: #9EA3B0;
}

.length-menu {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    border-top: black 2px solid;
    border-left: black 2px solid;
    border-bottom: black 2px solid;
}

.volume-menu {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    border-top: black 2px solid;
    border-left: black 2px solid;
    border-bottom: black 2px solid;
}

.main-section,
.ounces-container,
.stones-container,
.tons-container,
.grain-container,
.length-section,
.foot-section,
.miles-section,
.volume-section,
.quart-section,
.gallons-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #9EA3B0;
    border-radius: 0px 10px 10px 0px;
    border-left: 2px black solid;
}

.unit-selection,
.unit-selection-ounces,
.unit-selection-stones,
.unit-selection-stones,
.unit-selection-inches,
.unit-selection-foot,
.unit-selection-miles,
.unit-selection-pint,
.unit-selection-quarts,
.unit-selection-gallons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3%;
    border-bottom: 2px white solid;
}

.input-output-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    align-items: center;
}

#pounds-input,
#ounces-input,
#stones-input,
#USTons-input,
#grains-input,
#inch-input,
#foot-input,
#miles-input,
#pint-input,
#quart-input,
#gallons-input {
    height: 3rem;
    width: 70%;
    border-radius: 10px;
    border: black 1px solid;
    padding-left: 2%;
}

#mg-output,
#mg-output-o,
#mg-output-s,
#mg-output-t,
#mg-output-g,
#mm-output-i,
#mm-output-f,
#mm-output-m,
#ml-output-p,
#ml-output-q,
#ml-output-g {
    height: 3rem;
    width: 60%;
    background-color: #BB4430;
    border-radius: 10px;
    border: black 1px solid;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

#g-output,
#g-output-o,
#g-output-s,
#g-output-t,
#g-output-g,
#cm-output-i,
#cm-output-f,
#cm-output-m,
#cl-output-p,
#cl-output-q,
#cl-output-g {
    height: 3rem;
    width: 60%;
    background-color: #7EBDC2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

#kg-output,
#kg-output-o,
#kg-output-s,
#kg-output-t,
#kg-output-g,
#m-output-i,
#m-output-f,
#m-output-m,
#l-output-p,
#l-output-q,
#l-output-g {
    height: 3rem;
    width: 60%;
    background-color: #F3DFA2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

#tonne-output,
#tonne-output-o,
#tonne-output-s,
#tonne-output-t,
#tonne-output-g,
#km-output-i,
#km-output-f,
#km-output-m,
#kl-output-p,
#kl-output-q,
#kl-output-g {
    height: 3rem;
    width: 60%;
    background-color: #EFE6DD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

#pounds-btn {
    padding: 1%;
    border: black 2px solid;
    border-radius: 10px;
}

#ounces-btn {
    padding: 1%;
    border: black 2px solid;
    border-radius: 10px;
}

#stones-btn {
    padding: 1%;
    border: black 2px solid;
    border-radius: 10px;
}

#tons-btn {
    padding: 1%;
    border: black 2px solid;
    border-radius: 10px;
}

#grain-btn {
    padding: 1%;
    border: black 2px solid;
    border-radius: 10px;
}

#dram-btn {
    padding: 1%;
    border: black 2px solid;
    border-radius: 10px;
}

#inch-btn,
#foot-btn,
#miles-btn,
#pint-btn,
#Quart-btn,
#Gallon-btn {
    padding: 1%;
    border: black 2px solid;
    border-radius: 10px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: flex;
}

.ounces-area {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #9EA3B0;
    border-radius: 0px 10px 10px 0px;
    border-left: 2px black solid;
}